@import 'reset';
@import 'fonts';
@import 'style';
@import 'header';
@import 'section-one';
@import 'section-two';
@import 'section-three';
@import 'testimonials';
@import 'sectionImages';
@import 'footer';
@import 'preloader';
body{
    
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}